
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 112.3rem;
}.frame-20285-VZB {
  display: flex;
  column-gap: 1.3rem;
  align-items: center;
  width: 100%;

  .group-19540-qd3 {
    width: 27.1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4099999964);
    box-sizing: border-box;
    padding: 17rem 4.2rem 2.8rem 2.1rem;
    height: 27.1rem;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:f2ebc212ab5f1950941c0c1183087719e9e17ea8');
    border-radius: 1.6rem;
    flex-shrink: 0;

    .surprising-benefits-of-washing-your-face-with-salt-water-8kZ {
      line-height: 1.1725;
      letter-spacing: 0.018rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      margin-bottom: 0.4rem;
      max-width: 20.8rem;
      font-size: 1.6rem;
      font-weight: 500;
    }
    .by-mars-by-ghc-on-jun-22-2022-asT {
      font-weight: 500;
      line-height: 1.1725;
      letter-spacing: 0.018rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1rem;
    }
  }
  .group-19559-jtm {
    box-sizing: border-box;
    padding: 17rem 3.6rem 2.8rem 2.1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
    background-image: url('REPLACE_IMAGE:620136bd1c6a09464389a735d79e5aed6e2bb648');
    border-radius: 1.6rem;
    flex-shrink: 0;
    width: 27.1rem;
    height: 27.1rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4099999964);

    .get-clear-radiant-skin-with-these-9-benefits-of-honey-for-pimples-SoB {
      letter-spacing: 0.018rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      margin-bottom: 0.4rem;
      max-width: 21.4rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.1725;
    }
    .by-mars-by-ghc-on-jun-22-2022-7uK {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.1725;
      letter-spacing: 0.018rem;
    }
  }
  .group-19560-9r1 {
    height: 27.1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
    box-sizing: border-box;
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4099999964);
    padding: 18.6rem 2.4rem 2.8rem 2.1rem;
    flex-direction: column;
    background-image: url('REPLACE_IMAGE:129236df34d5d3a3dec6ce2b501b815d3104ac0e');
    flex-shrink: 0;
    width: 27.1rem;
    display: flex;
    background-repeat: no-repeat;
    border-radius: 1.6rem;
    align-items: center;

    .everything-you-need-to-know-about-saffron-benefits-for-skin-eXs {
      line-height: 1.1725;
      color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 0.7rem;
      font-size: 1.6rem;
      font-weight: 500;
      max-width: 22.6rem;
      letter-spacing: 0.018rem;
      font-family: Roboto, 'Source Sans Pro';
    }
    .by-mars-by-ghc-on-jun-22-2022-jpD {
      line-height: 1.1725;
      letter-spacing: 0.018rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      margin-right: 7.4rem;
      font-size: 1rem;
      font-weight: 500;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .group-19561-97F {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:ab385b1aefa4d7bf4bead5d84fefee55e0a45c6d');
    flex-shrink: 0;
    box-sizing: border-box;
    height: 27.1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
    background-size: 100% 100%;
    padding: 18.6rem 2.1rem 2.8rem 2.1rem;
    width: 27.1rem;
    border-radius: 1.6rem;
    background-color: rgba(0, 0, 0, 0.4099999964);

    .natural-ways-to-remove-tan-from-hands-s3F {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      margin-bottom: 0.7rem;
      max-width: 20rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.1725;
      letter-spacing: 0.018rem;
    }
    .by-mars-by-ghc-on-jun-22-2022-aTT {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.1725;
      letter-spacing: 0.018rem;
    }
  }
}
