
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 112.3rem;
}.frame-20287-jHj {
  width: 100%;
  display: flex;
  column-gap: 1.3rem;
  align-items: center;
}
.frame-20287-jHj .group-19540-gCy {
  box-sizing: border-box;
  padding: 19rem 2.2rem 2.8rem 2.1rem;
  width: 27.1rem;
  height: 27.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-27854-bg-MYD.png');
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.4099999964);
  flex-shrink: 0;
}
.frame-20287-jHj .group-19540-gCy .groom-to-perfection-aloe-vera-hair-mask-for-mens-hair-care-b53 {
  margin-bottom: 0.3rem;
  max-width: 22.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-20287-jHj .group-19540-gCy .by-mars-by-ghc-on-jun-22-2022-UPj {
  margin-right: 7.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-20287-jHj .group-19559-5eR {
  box-sizing: border-box;
  padding: 17rem 3.9rem 2.8rem 2.1rem;
  width: 27.1rem;
  height: 27.1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-27854-bg-dso.png');
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.4099999964);
  flex-shrink: 0;
}
.frame-20287-jHj .group-19559-5eR .coffee-for-hair-growth-brew-up-longer-thicker-hair-with-coffee-bsf {
  margin-bottom: 0.4rem;
  max-width: 21.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-20287-jHj .group-19559-5eR .by-mars-by-ghc-on-jun-22-2022-Vi9 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-20287-jHj .group-19560-Xeq {
  box-sizing: border-box;
  padding: 16.6rem 4.2rem 2.8rem 2.1rem;
  width: 27.1rem;
  height: 27.1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-27854-bg-j69.png');
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.4099999964);
  flex-shrink: 0;
}
.frame-20287-jHj .group-19560-Xeq .maximizing-hair-growth-and-health-7-benefits-of-biotin-hair-gummies-Ep9 {
  margin-bottom: 0.8rem;
  max-width: 20.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-20287-jHj .group-19560-Xeq .by-mars-by-ghc-on-jun-22-2022-L6V {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-20287-jHj .group-19561-NYy {
  box-sizing: border-box;
  padding: 18.6rem 2.1rem 2.8rem 2.1rem;
  width: 27.1rem;
  height: 27.1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-27854-bg-8em.png');
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.4099999964);
  flex-shrink: 0;
}
.frame-20287-jHj .group-19561-NYy .vitamin-e-tabs-for-hair-get-lustrous-hair-in-no-time-Hvq {
  margin-bottom: 0.7rem;
  max-width: 19.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-20287-jHj .group-19561-NYy .by-mars-by-ghc-on-jun-22-2022-QVf {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
