
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 112.3rem;
}.frame-20285-VZB {
  width: 100%;
  display: flex;
  column-gap: 1.3rem;
  align-items: center;
}
.frame-20285-VZB .group-19540-qd3 {
  box-sizing: border-box;
  padding: 17rem 4.2rem 2.8rem 2.1rem;
  width: 27.1rem;
  height: 27.1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-27854-bg-QKK.png');
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.4099999964);
  flex-shrink: 0;
}
.frame-20285-VZB .group-19540-qd3 .surprising-benefits-of-washing-your-face-with-salt-water-8kZ {
  margin-bottom: 0.4rem;
  max-width: 20.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-20285-VZB .group-19540-qd3 .by-mars-by-ghc-on-jun-22-2022-asT {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-20285-VZB .group-19559-jtm {
  box-sizing: border-box;
  padding: 17rem 3.6rem 2.8rem 2.1rem;
  width: 27.1rem;
  height: 27.1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-27854-bg-vpZ.png');
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.4099999964);
  flex-shrink: 0;
}
.frame-20285-VZB .group-19559-jtm .get-clear-radiant-skin-with-these-9-benefits-of-honey-for-pimples-SoB {
  margin-bottom: 0.4rem;
  max-width: 21.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-20285-VZB .group-19559-jtm .by-mars-by-ghc-on-jun-22-2022-7uK {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-20285-VZB .group-19560-9r1 {
  box-sizing: border-box;
  padding: 18.6rem 2.4rem 2.8rem 2.1rem;
  width: 27.1rem;
  height: 27.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-27854-bg-jCm.png');
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.4099999964);
  flex-shrink: 0;
}
.frame-20285-VZB .group-19560-9r1 .everything-you-need-to-know-about-saffron-benefits-for-skin-eXs {
  margin-bottom: 0.7rem;
  max-width: 22.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-20285-VZB .group-19560-9r1 .by-mars-by-ghc-on-jun-22-2022-jpD {
  margin-right: 7.4rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-20285-VZB .group-19561-97F {
  box-sizing: border-box;
  padding: 18.6rem 2.1rem 2.8rem 2.1rem;
  width: 27.1rem;
  height: 27.1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-27854-bg-JDf.png');
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.4099999964);
  flex-shrink: 0;
}
.frame-20285-VZB .group-19561-97F .natural-ways-to-remove-tan-from-hands-s3F {
  margin-bottom: 0.7rem;
  max-width: 20rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-20285-VZB .group-19561-97F .by-mars-by-ghc-on-jun-22-2022-aTT {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.018rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
